Repository TortoiseGit/TortoiseGit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc, spellcheck-pot

.gitlab-ci.yml:

# General info: https://docs.gitlab.com/ee/ci/yaml/

doc:
  image: ubuntu:focal
  before_script:
    - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
    - apt-get update -qq
    - apt-get install -qq --no-install-recommends -y xsltproc docbook-xsl nant aspell aspell-en
    - echo -e "section_end:`date +%s`:install_packages\r\e[0K"
  script:
    - mv doc/doc.build.user.linux.templ doc/doc.build.user
    - cd doc
    - nant -D:spellcheck=true
    - if [[ $(ls -1 Aspell/*.log 2>/dev/null | wc -l) -ge 1 ]]; then
        echo -e "\e[1;31m!!! Found typos !!!\e[0m";
        cat Aspell/*.log;
        exit 1;
      fi
  except:
    refs:
      - tags
  only:
    changes:
      - .gitlab-ci.yml
      - doc/images/en/**/*
      - doc/source/**/*
      - doc/xsl/**/*
      - doc/doc.build*
      - doc/Aspell/*

spellcheck-pot:
  image: debian:buster
  before_script:
    - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
    - apt-get update -qq
    - apt-get install -qq --no-install-recommends -y aspell aspell-en gettext gettext-lint
    - echo -e "section_end:`date +%s`:install_packages\r\e[0K"
  script:
    - perl -pi -e 's|\\r||g' Languages/Tortoise.pot
    - msginit --no-translator -l en_US -i Languages/Tortoise.pot -o Languages/Tortoise_en.po
    - perl -pi -e 's|&([^ ])|\1|g' Languages/Tortoise_en.po
    - cp doc/Aspell/TortoiseGit.tmpl.pws doc/Aspell/Temp.pws
    - perl -pi -e 's/\$LANG\$/en/g' doc/Aspell/Temp.pws
    - POFileSpell --command='aspell --encoding=UTF-8 --add-extra-dicts="./doc/Aspell/en.pws" --add-extra-dicts=./doc/Aspell/Temp.pws --add-extra-dicts=./doc/Aspell/TortoisePot.pws --lang=en list' Languages/Tortoise_en.po > spellcheck.log
    - if [[ $(cat spellcheck.log 2>/dev/null | wc -l) -gt 1 ]]; then
        echo -e "\e[1;31m!!! Found typos !!!\e[0m";
        cat spellcheck.log;
        exit 1;
      fi
  except:
    refs:
      - tags
  only:
    changes:
      - .gitlab-ci.yml
      - Languages/Tortoise.pot
      - doc/Aspell/*.pws

Remove unnecessary casts
  src/TortoiseProc/BrowseRefsDlg.cpp
  src/TortoiseProc/ChangedDlg.cpp
  src/TortoiseProc/CommitIsOnRefsDlg.cpp
Due: none

Drop unused code
  src/TortoiseProc/TortoiseProc.cpp
Due: none

Fix magic constant
  src/Git/TGitPath.cpp
Due: none

Correctly convert string from UTF8 to wide string
  src/Git/GitRev.cpp
  src/TortoiseProc/WorktreeListDlg.cpp
Due: none

Code cleanup
  src/TortoiseGitBlame/TortoiseGitBlameData.cpp
Due: none

Deduplicate code
  src/TortoiseGitBlame/TortoiseGitBlameData.cpp
  src/Utils/StringUtils.cpp
  src/Utils/StringUtils.h
Due: none

Reduce number of narrow conversions
  src/Git/Git.cpp
  src/Git/TGitPath.cpp
  src/TortoiseGitBlame/TortoiseGitBlameView.cpp
  src/TortoiseMerge/BaseView.cpp
  src/TortoiseMerge/DiffData.cpp
  src/TortoiseProc/AboutDlg.cpp
  src/TortoiseProc/AppUtils.cpp
  src/TortoiseProc/Commands/CloneCommand.cpp
  src/TortoiseProc/GitLogListAction.cpp
  src/TortoiseProc/GitLogListBase.cpp
  src/TortoiseProc/PullFetchDlg.cpp
  src/TortoiseProc/SerialPatch.cpp
  src/TortoiseProc/Settings/SetDialogs3.cpp
  src/TortoiseProc/Settings/SetHooks.cpp
  src/TortoiseProc/Settings/SettingGitRemote.cpp
  src/TortoiseProc/WorktreeListDlg.cpp
  src/Utils/CommonAppUtils.cpp
  src/Utils/DirFileEnum.cpp
  src/Utils/Hooks.cpp
  src/Utils/HwSMTP.cpp
  src/Utils/MailMsg.cpp
  src/Utils/MiscUI/MessageBox.cpp
  src/Utils/MiscUI/MyGraph.cpp
  src/Utils/MiscUI/SVG.cpp
  src/Utils/MiscUI/SciEdit.cpp
  src/Utils/StringUtils.cpp
  test/UnitTests/GitIndexTest.cpp
  test/UnitTests/GitRevLoglistTest.cpp
  test/UnitTests/StringUtilsTest.cpp
  test/UnitTests/TGitPathTest.cpp
Due: none

Update json library to 3.12
  src/Changelog.txt
Due: none

Store used diff threshold in cache files, 3679
  src/TortoiseProc/GitLogCache.cpp
  src/TortoiseProc/gitlogcache.h
Due: none

Update libgit to version 2.49.0 based on Git for Windows sources
  ext/build/libgit.vcxproj
  ext/build/libgit.vcxproj.filters
  ext/gitdll/gitdll.c
  src/Changelog.txt
Due: none

Constify parameters
  src/Git/TGitPath.cpp
  src/Git/TGitPath.h
Due: none

Update Git documentation patch for Git 2.49.0
  doc/source/en/TortoiseGit/git_doc.patch
Due: doc

Do not include date in Git manual
  doc/source/en/TortoiseGit/git_doc.patch
Due: doc

Link Git User Manual locally
  doc/source/en/TortoiseGit/git_doc.patch
  doc/xsl/tgit.xsl
Due: doc

Update pcre2 to 10.45
  ext/build/pcre2.vcxproj
  ext/build/pcre2.vcxproj.filters
  ext/build/pcre2/config.h
  ext/build/pcre2/pcre2.h
  src/Changelog.txt
Due: none

Fix spell-checker assertions and off-by-one error
  src/Changelog.txt
  src/Utils/MiscUI/SciEdit.cpp
Due: none

Fixed issue #4200: Can't see, copy merged the file path or the full file name or "explore to" in TortoiseGitMerge
  Languages/Tortoise.pot
  src/Changelog.txt
  src/Resources/TortoiseMergeENG.rc
  src/TortoiseMerge/BaseView.cpp
  src/TortoiseMerge/TortoiseMerge.vcxproj
  src/TortoiseMerge/TortoiseMerge.vcxproj.filters
  src/TortoiseMerge/resource.h
  src/TortoiseProc/AppUtils.cpp
  src/TortoiseProc/AppUtils.h
  src/Utils/CommonAppUtils.cpp
  src/Utils/CommonAppUtils.h
Due: spellcheck-pot

Fix typo in filename
  src/TortoiseMerge/TortoiseMerge.vcxproj.filters
Due: none

Delete bool operator overload to prevent accidental use
  src/Git/GitHash.h
Due: none

Simplify construction
  src/Utils/MiscUI/ScrollTool.cpp
  src/Utils/MiscUI/ScrollTool.h
Due: none

Use better length
  src/Git/GitStatusListCtrl.cpp
  src/TortoiseProc/Commands/DropCopyAddCommand.cpp
  src/TortoiseProc/Settings/SetSavedDataPage.cpp
Due: none

Drop unused return value
  src/Utils/StringUtils.cpp
  src/Utils/StringUtils.h
Due: none

Fix incorrect combination of friend and static
  src/Git/GitHash.h
Due: none

Mark build as compatible with VS2022 17.14
  src/TortoiseGitSetup/WiXSetup.wixproj
Due: none

Fix unused parameters
  src/TortoiseMerge/MainFrm.cpp
  src/TortoiseProc/BranchCombox.h
  src/TortoiseShell/ContextMenu.cpp
Due: none

Update libgit2 to 1.9.1
  src/Changelog.txt
Due: none

Update Scintilla to 5.5.7
  ext/scintilla/include/Scintilla.h
  ext/scintilla/include/Scintilla.iface
  ext/scintilla/include/ScintillaCall.h
  ext/scintilla/include/ScintillaMessages.h
  ext/scintilla/include/ScintillaTypes.h
  ext/scintilla/src/AutoComplete.cxx
  ext/scintilla/src/AutoComplete.h
  ext/scintilla/src/CallTip.cxx
  ext/scintilla/src/CharacterCategoryMap.cxx
  ext/scintilla/src/ContractionState.cxx
  ext/scintilla/src/ContractionState.h
  ext/scintilla/src/DBCS.cxx
  ext/scintilla/src/DBCS.h
  ext/scintilla/src/Document.cxx
  ext/scintilla/src/Document.h
  ext/scintilla/src/EditModel.cxx
  ext/scintilla/src/EditView.cxx
  ext/scintilla/src/EditView.h
  ext/scintilla/src/Editor.cxx
  ext/scintilla/src/Editor.h
  ext/scintilla/src/LineMarker.cxx
  ext/scintilla/src/MarginView.cxx
  ext/scintilla/src/Platform.h
  ext/scintilla/src/PositionCache.cxx
  ext/scintilla/src/PositionCache.h
  ext/scintilla/src/ScintillaBase.cxx
  ext/scintilla/src/ScintillaBase.h
  ext/scintilla/src/Selection.cxx
  ext/scintilla/src/Selection.h
  ext/scintilla/src/UniConversion.cxx
  ext/scintilla/version.txt
  ext/scintilla/win32/ListBox.cxx
  ext/scintilla/win32/PlatWin.cxx
  ext/scintilla/win32/ScintRes.rc
  ext/scintilla/win32/ScintillaWin.cxx
  ext/scintilla/win32/SurfaceD2D.cxx
  ext/scintilla/win32/SurfaceD2D.h
  ext/scintilla/win32/makefile
Due: none

Apply backgroundcolors.patch
  ext/scintilla/include/Scintilla.h
  ext/scintilla/src/EditView.cxx
  ext/scintilla/src/EditView.h
  ext/scintilla/src/Editor.cxx
  ext/scintilla/src/Editor.h
  ext/scintilla/win32/ScintillaWin.cxx
Due: none

Fix missing windowsapp.lib link
  src/TortoiseProc/Settings/SetLookAndFeelPage.cpp
Due: none

Fixed issue #4210: Add hint of active filter in file list
  Languages/Tortoise.pot
  src/Changelog.txt
  src/Resources/TortoiseProcENG.rc
  src/TortoiseProc/LogDlg.cpp
  src/TortoiseProc/resource.h
Due: spellcheck-pot

Update libgit to version 2.50.1 based on Git for Windows sources
  ext/build/libgit.vcxproj
  ext/build/libgit.vcxproj.filters
  ext/gitdll/gitdll.c
  src/Changelog.txt
Due: none

Show Git documentation version in the manual
  doc/source/en/TortoiseGit/git_doc.patch
  doc/source/en/TortoiseGit/git_doc/git-doc-version.xml
  doc/source/en/TortoiseGit/git_doc/git-doc.xml.in
Due: doc

Fixed issue #4185: TortoiseGit->Tag should open popup to Push Tags
  Languages/Tortoise.pot
  src/Changelog.txt
  src/Resources/TortoiseProcENG.rc
  src/TortoiseProc/AppUtils.cpp
  src/TortoiseProc/CreateBranchTagDlg.cpp
  src/TortoiseProc/CreateBranchTagDlg.h
  src/TortoiseProc/resource.h
Due: spellcheck-pot

Fixed issue #4216: Crash - Log viewer - Click "refresh" repeated rapidly
  src/Changelog.txt
  src/TortoiseProc/GitLogListBase.cpp
Due: none

Add more debug information to SafeTerminateThread() which calls TerminateThread for historic reasons
  src/TortoiseProc/GitLogListBase.h
Due: none
