Repository TortoiseGit/TortoiseGit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc, spellcheck-pot

doc:
  image: ubuntu:focal
  before_script:
  - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
  - apt-get update -qq
  - apt-get install -qq --no-install-recommends -y xsltproc docbook-xsl nant aspell aspell-en
  ...

spellcheck-pot:
  image: debian:buster
  before_script:
  - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
  - apt-get update -qq
  - apt-get install -qq --no-install-recommends -y aspell aspell-en gettext gettext-lint
  ...

Update copyright years
  Languages/Tortoise.pot
  Languages/TortoisePotHeader.txt
  ext/gitdll/gitdll.rc2
  src/GitWCRev/GitWCRev.rc2
  src/ResText/ResText.rc2
  src/Resources/TortoiseMerge.rc2
  src/Resources/TortoiseProc.rc2
  src/Resources/TortoiseShell.rc2
  src/SshAskPass/SshAskPass.rc2
  src/TGitCache/TGITCache.rc2
  src/TortoiseGitBlame/res/TortoiseGitBlame.rc2
  src/TortoiseGitSetup/RestartExplorer/RestartExplorer.rc2
  src/TortoiseGitSetup/include/TGIT_eula.rtf
  src/TortoiseIDiff/TortoiseIDiff.rc2
  src/TortoisePlink/Windows/TortoisePlink.rc
  src/TortoiseShell/TortoiseStub.rc
  src/TortoiseUDiff/TortoiseUDiff.rc2
  src/touch/touch.rc2
Due: spellcheck-pot

Add tests for CPatch PatchFile
  test/UnitTests/PatchTest.cpp
  test/UnitTests/resources/patches/git-diff-Patch.cpp
  test/UnitTests/resources/patches/patch-utf8.patch
Due: none

Fixed issue #3770: TortoiseGitMerge can't apply NonANSI (e.g., UTF-8) patch
  src/Changelog.txt
  src/TortoiseMerge/Patch.cpp
  test/UnitTests/PatchTest.cpp
Due: none

TortoiseGitMerge: Correctly handle BOM changes to files when applying patches
  src/Changelog.txt
  src/TortoiseMerge/Patch.cpp
  src/TortoiseMerge/Patch.h
  test/UnitTests/PatchTest.cpp
  test/UnitTests/resources/patches/bom-change.patch
Due: none

Implement expanding/collapsing nodes in the log tree on demand
  Languages/Tortoise.pot
  doc/images/en/LogCollapsedRevs.png
  doc/images/en/LogContextMenu.png
  doc/source/en/TortoiseGit/tgit_dug/dug_log.xml
  src/Changelog.txt
  src/Git/GitRevLoglist.cpp
  src/Git/GitRevLoglist.h
  src/Resources/LoglistCommonResource.h
  src/Resources/TortoiseLoglistCommon.rc2
  src/TortoiseProc/GitLogListAction.cpp
  src/TortoiseProc/GitLogListBase.cpp
  src/TortoiseProc/GitLogListBase.h
  src/TortoiseProc/LogDlg.cpp
  src/TortoiseProc/RebaseDlg.cpp
Due: doc, spellcheck-pot

Fixed issue #3708: Log window becomes unresponsive when selecting commit with large file list
  Languages/Tortoise.pot
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_advanced.xml
  src/Changelog.txt
  src/Git/GitStatusListCtrl.cpp
  src/Git/GitStatusListCtrl.h
  src/Resources/TortoiseProcENG.rc
  src/TortoiseProc/LogDlg.cpp
  src/TortoiseProc/Settings/SettingsAdvanced.cpp
  src/TortoiseProc/resource.h
Due: doc, spellcheck-pot

Fixed issue #3692: 64-bit version should bundle 64-bit pageant (and maybe other PuTTY binaries)
  build.txt
  ext/putty/.gitignore
  ext/putty/download.bat
  ext/putty/download.txt
  ext/putty/pageant.exe
  ext/putty/puttygen.exe
  release.txt
  src/Changelog.txt
  src/TortoiseGitSetup/StructureFragment.wxi
Due: none

Fix typo
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_advanced.xml
Due: doc

Switch to VS2022 on AppVeyor as main toolset and don't test VS2017 any more
  appveyor.yml
Due: none

Update build.txt
  build.txt
Due: none

Fix untranslated menu entries
  Languages/Tortoise.pot
  src/Resources/TortoiseProcENG.rc
  src/TortoiseProc/PatchViewDlg.cpp
  src/TortoiseProc/resource.h
Due: spellcheck-pot

Try to better detect Windows version and build number
  src/TortoiseProc/UpdateDownloader.cpp
  src/TortoiseProc/UpdateDownloader.h
Due: none

Fixed issue #3833: LogDlg: Access violation in gitdll when multi-pack-index exists
  src/Changelog.txt
Due: none

No need to double zero arrays
  src/Git/GitDataObject.cpp
  src/Git/GitStatusListCtrl.cpp
  src/GitWCRev/GitWCRevCOM.cpp
  src/ResText/ResModule.cpp
  src/TortoiseProc/UpdateCrypto.cpp
  src/Utils/MiscUI/SciEdit.cpp
Due: none

Make Natvis work with VS2022
  contrib/NatVis/TGitNatVis.dll
  contrib/NatVis/TortoiseGit.natvis
  contrib/NatVis/src/TGitNatVis.sln
  contrib/NatVis/src/TGitNatVis/TGitNatVis.cpp
  contrib/NatVis/src/TGitNatVis/TGitNatVis.h
  contrib/NatVis/src/TGitNatVis/TGitNatVis.vcxproj
  contrib/NatVis/src/TGitNatVis/TGitNatVis.vcxproj.filters
  contrib/NatVis/src/TGitNatVis/dllmain.cpp
  contrib/NatVis/src/TGitNatVis/stdafx.cpp
  contrib/NatVis/src/TGitNatVis/stdafx.h
  contrib/NatVis/src/TGitNatVis/targetver.h
Due: none

Add the Natvis definition to the solution so that it is used by default
  src/TortoiseGit.sln
Due: none

Extend the Natvis definitions
  contrib/NatVis/TortoiseGit.natvis
Due: none

Changed Files Dialog: Delete worktree files when comparing to the working tree and reverting added/renamed files
  src/TortoiseProc/FileDiffDlg.cpp
Due: none

Do not show "Collapse revisions" for "Working tree changes"
  src/TortoiseProc/GitLogListBase.cpp
Due: none

Don't pass "--parents" to git log when full-history is enabled
  src/Git/Git.cpp
Due: none

Update URLs
  ext/TortoiseOverlays/readme.txt
Due: none

Fixed issue #3846: ScanFile hangs commit dialog (fixed regex backtracking)
  src/Changelog.txt
  src/TortoiseGitSetup/include/autolist.txt
Due: none

Do a hit test on the tree view control to determine the item that was clicked on
  src/TortoiseShell/ContextMenu.cpp
Due: none

Enable dpi awareness for TortoiseShell
  src/TortoiseShell/TortoiseShell.vcxproj
Due: none

Update language of language pack installer
  Languages/Lang_sl.wixproj
Due: none

Docs: Mention the location of the log file
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_saved.xml
Due: doc

Fixed issue #3848: "Git Sync..." > "Compare tags" does not properly clear state from previous actions
  src/Changelog.txt
  src/TortoiseProc/SyncDlg.cpp
Due: none

Fixed issue #3849: TortoiseGitMerge cannot drag mouse to select last character of wrapped line
  src/Changelog.txt
  src/TortoiseMerge/BaseView.cpp
  src/TortoiseMerge/BaseView.h
Due: none

Fix encoding
  release.txt
Due: none

Add Natvis support for CRegTypedBase
  contrib/NatVis/TortoiseGit.natvis
Due: none

Fixed issue #3854: Ampersand in branch label underlines next character
  src/Changelog.txt
  src/TortoiseProc/GitLogListBase.cpp
Due: none

Sync translations with Transifex
  Languages/Tortoise_bg.po
  Languages/Tortoise_ca.po
  Languages/Tortoise_cs.po
  Languages/Tortoise_da.po
  Languages/Tortoise_de.po
  Languages/Tortoise_el.po
  Languages/Tortoise_es.po
  Languages/Tortoise_fa.po
  Languages/Tortoise_fi.po
  Languages/Tortoise_fr.po
  Languages/Tortoise_he.po
  Languages/Tortoise_hu.po
  Languages/Tortoise_id.po
  Languages/Tortoise_it.po
  Languages/Tortoise_ja.po
  Languages/Tortoise_ko.po
  Languages/Tortoise_lt.po
  Languages/Tortoise_nl.po
  Languages/Tortoise_oc.po
  Languages/Tortoise_pl.po
  Languages/Tortoise_pt_BR.po
  Languages/Tortoise_pt_PT.po
  Languages/Tortoise_ro.po
  Languages/Tortoise_ru.po
  Languages/Tortoise_sk.po
  Languages/Tortoise_sl.po
  Languages/Tortoise_sq.po
  Languages/Tortoise_sr@Cyrl.po
  Languages/Tortoise_sr@latin.po
  Languages/Tortoise_sv.po
  Languages/Tortoise_tr.po
  Languages/Tortoise_uk.po
  Languages/Tortoise_vi.po
  Languages/Tortoise_zh_CN.po
  Languages/Tortoise_zh_TW.po
Due: none

Update Git for Windows URLs
  doc/source/en/TortoiseGit/tgit_introduction.xml
  src/Changelog.txt
  src/TortoiseProc/ConfigureGitExe.h
Due: doc

Prepare release and bump version numbers to 2.13.0
  doc/doc.build.include
  src/Changelog.txt
  src/TortoiseGitSetup/VersionNumberInclude.wxi
  src/version.h
Due: doc

Fixed issue #3856: Documentation Problem - Rebase needs more info and accurate info for setting upstream from CLI
  doc/source/en/TortoiseGit/tgit_app_automation.xml
  src/Changelog.txt
Due: doc

Fixed issue #3855: Shell integration broken after upgrade to 2.13 (on Windows < 10)
  src/Changelog.txt
  src/TortoiseShell/ContextMenu.cpp
Due: none

Fixed issue #3859: Incorrect count of removed files if some files do not exist
  src/Changelog.txt
  src/TortoiseProc/Commands/RemoveCommand.cpp
Due: none

Fixed issue #3857: Log Messages filter breaks Russian characters on pasting
  src/Changelog.txt
  src/Utils/MiscUI/FilterEdit.cpp
Due: none

Path conditions:
  doc: any of: .gitlab-ci.yml, doc/images/en/**/*, doc/source/**/*, doc/xsl/**/*, doc/doc.build*, doc/Aspell/*
  spellcheck-pot: any of: .gitlab-ci.yml, Languages/Tortoise.pot, doc/Aspell/*.pws
