Repository TortoiseGit/TortoiseGit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc, spellcheck-pot

.gitlab-ci.yml:

# General info: https://docs.gitlab.com/ee/ci/yaml/

doc:
  image: ubuntu:focal
  before_script:
    - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
    - apt-get update -qq
    - apt-get install -qq --no-install-recommends -y xsltproc docbook-xsl nant aspell aspell-en
    - echo -e "section_end:`date +%s`:install_packages\r\e[0K"
  script:
    - mv doc/doc.build.user.linux.templ doc/doc.build.user
    - cd doc
    - nant -D:spellcheck=true
    - if [[ $(ls -1 Aspell/*.log 2>/dev/null | wc -l) -ge 1 ]]; then
        echo -e "\e[1;31m!!! Found typos !!!\e[0m";
        cat Aspell/*.log;
        exit 1;
      fi
  except:
    refs:
      - tags
  only:
    changes:
      - .gitlab-ci.yml
      - doc/images/en/**/*
      - doc/source/**/*
      - doc/xsl/**/*
      - doc/doc.build*
      - doc/Aspell/*

spellcheck-pot:
  image: debian:buster
  before_script:
    - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
    - apt-get update -qq
    - apt-get install -qq --no-install-recommends -y aspell aspell-en gettext gettext-lint
    - echo -e "section_end:`date +%s`:install_packages\r\e[0K"
  script:
    - perl -pi -e 's|\\r||g' Languages/Tortoise.pot
    - msginit --no-translator -l en_US -i Languages/Tortoise.pot -o Languages/Tortoise_en.po
    - perl -pi -e 's|&([^ ])|\1|g' Languages/Tortoise_en.po
    - cp doc/Aspell/TortoiseGit.tmpl.pws doc/Aspell/Temp.pws
    - perl -pi -e 's/\$LANG\$/en/g' doc/Aspell/Temp.pws
    - POFileSpell --command='aspell --encoding=UTF-8 --add-extra-dicts="./doc/Aspell/en.pws" --add-extra-dicts=./doc/Aspell/Temp.pws --add-extra-dicts=./doc/Aspell/TortoisePot.pws --lang=en list' Languages/Tortoise_en.po > spellcheck.log
    - if [[ $(cat spellcheck.log 2>/dev/null | wc -l) -gt 1 ]]; then
        echo -e "\e[1;31m!!! Found typos !!!\e[0m";
        cat spellcheck.log;
        exit 1;
      fi
  except:
    refs:
      - tags
  only:
    changes:
      - .gitlab-ci.yml
      - Languages/Tortoise.pot
      - doc/Aspell/*.pws

Add safety assertions for column configurations
  src/Git/GitStatusListCtrl.cpp
  src/TortoiseProc/GitLogListBase.cpp
  src/TortoiseProc/RepositoryBrowser.cpp
  src/TortoiseProc/WorktreeListDlg.cpp
  src/TortoiseProc/refloglist.cpp
Due: none

Limit .gitignore file size to 100 MiB
  src/Git/GitIndex.cpp
Due: none

Fix typos
  src/TortoiseProc/ColumnManager.h
  src/TortoiseProc/GitLogListBase.cpp
  src/TortoiseProc/refloglist.cpp
Due: none

RebaseDlg: Prevent entering an invalid state when text transformations are performed and a file in Git history is not in the normalized format
  src/TortoiseProc/RebaseDlg.cpp
Due: none

Update to Scintilla 5.5.1
  ext/scintilla/cppcheck.suppress
  ext/scintilla/include/Scintilla.h
  ext/scintilla/include/Scintilla.iface
  ext/scintilla/include/ScintillaCall.h
  ext/scintilla/include/ScintillaMessages.h
  ext/scintilla/include/ScintillaTypes.h
  ext/scintilla/src/Document.cxx
  ext/scintilla/src/EditModel.cxx
  ext/scintilla/src/EditModel.h
  ext/scintilla/src/EditView.cxx
  ext/scintilla/src/EditView.h
  ext/scintilla/src/Editor.cxx
  ext/scintilla/src/Editor.h
  ext/scintilla/src/ScintillaBase.cxx
  ext/scintilla/src/ViewStyle.cxx
  ext/scintilla/src/ViewStyle.h
  ext/scintilla/version.txt
  ext/scintilla/win32/PlatWin.cxx
  ext/scintilla/win32/PlatWin.h
  ext/scintilla/win32/ScintRes.rc
  ext/scintilla/win32/ScintillaWin.cxx
Due: none

Apply backgroundcolors.patch
  ext/scintilla/include/Scintilla.h
  ext/scintilla/src/EditView.cxx
  ext/scintilla/src/EditView.h
  ext/scintilla/src/Editor.cxx
  ext/scintilla/src/Editor.h
  ext/scintilla/win32/ScintillaWin.cxx
Due: none

Update Lexilla to 5.3.3
  ext/build/ScintillaLexer.vcxproj
  ext/build/ScintillaLexer.vcxproj.filters
Due: none

Optimize performance of CLogFile
  src/TortoiseProc/LogFile.cpp
  src/TortoiseProc/LogFile.h
  test/UnitTests/LogFileTest.cpp
  test/UnitTests/UnitTests.vcxproj
  test/UnitTests/UnitTests.vcxproj.filters
Due: none

Fixed issue #4137: "Detach" option ignored when making a new worktree
  src/Changelog.txt
  src/Resources/TortoiseProcENG.rc
  src/TortoiseProc/AppUtils.cpp
  src/TortoiseProc/CreateWorktreeDlg.cpp
  src/TortoiseProc/CreateWorktreeDlg.h
Due: none

Update Tortoise.pot
  Languages/Tortoise.pot
Due: spellcheck-pot

Fix piping to TortoiseGitUDiff by checking for ERROR_BROKEN_PIPE and treating that as ok
  src/TortoiseUDiff/MainWindow.cpp
Due: none

Update libgit to version 2.46 based on Git for Windows sources
  ext/build/libgit.vcxproj
  ext/build/libgit.vcxproj.filters
  ext/build/zlib.vcxproj
  ext/build/zlib.vcxproj.filters
  ext/gitdll/gitdll.c
  ext/gitdll/gitdll.h
  src/Changelog.txt
Due: none

core.commentChar is a string since Git 2.45
  src/TortoiseProc/AppUtils.cpp
Due: none

Fallback to AppData if XDG_CONFIG_HOME is unset as Git for Windows does (for versions >= 2.46)
  src/Git/Git.cpp
  src/Git/Git.h
  src/GitWCRev/status.cpp
  src/TortoiseProc/AppUtils.cpp
  src/TortoiseProc/Settings/SettingGitConfig.cpp
  src/TortoiseProc/TortoiseProc.cpp
Due: none

Refresh TGitCache on changes of Git.exe
  src/TortoiseProc/AppUtils.cpp
  src/TortoiseProc/ConfigureGitExe.h
Due: none

Fixed issue #4159: Closing the git log window crashes TortoiseGit on Windows 7
  src/Changelog.txt
  src/TortoiseProc/GitLogCache.cpp
Due: none

Fix tsvn references
  doc/source/Hacking.txt
  doc/source/en/TortoiseGit/TortoiseGit.xml
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_udiff.xml
Due: doc

Fixed issue #4140: TortoiseGitMerge Dark mode flashes white when maximized
  src/Changelog.txt
  src/TortoiseMerge/TortoiseMerge.cpp
Due: none

Drop outdated documentation
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_general.xml
Due: doc

LogDlg: Improve documentation for the default limit and how to unset it
  doc/source/en/TortoiseGit/tgit_dug/dug_log.xml
Due: doc

Fixed issue #4148: Dialogs 1 doesn't have documentation for the Default limitation of log messages fields
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_general.xml
  src/Changelog.txt
Due: doc

Fix inconsistent function definition
  src/TortoisePlink/PUTTY.H
Due: none

Update to Scintilla 5.5.2
  ext/scintilla/include/Scintilla.h
  ext/scintilla/include/Scintilla.iface
  ext/scintilla/include/ScintillaCall.h
  ext/scintilla/include/ScintillaMessages.h
  ext/scintilla/include/ScintillaTypes.h
  ext/scintilla/src/CellBuffer.cxx
  ext/scintilla/src/CellBuffer.h
  ext/scintilla/src/Document.cxx
  ext/scintilla/src/Document.h
  ext/scintilla/src/EditModel.h
  ext/scintilla/src/EditView.cxx
  ext/scintilla/src/EditView.h
  ext/scintilla/src/Editor.cxx
  ext/scintilla/src/Editor.h
  ext/scintilla/src/Platform.h
  ext/scintilla/src/ScintillaBase.cxx
  ext/scintilla/src/Style.cxx
  ext/scintilla/src/Style.h
  ext/scintilla/src/UndoHistory.cxx
  ext/scintilla/src/UndoHistory.h
  ext/scintilla/src/ViewStyle.cxx
  ext/scintilla/version.txt
  ext/scintilla/win32/PlatWin.cxx
  ext/scintilla/win32/ScintRes.rc
  ext/scintilla/win32/ScintillaWin.cxx
Due: none

Update Lexilla to 5.4.0
  ext/build/ScintillaLexer.vcxproj
  ext/build/ScintillaLexer.vcxproj.filters
Due: none

Fixed issue #4075: Dark theme revision graph text color contrast too low
  src/TortoiseProc/RevisionGraph/RevisionGraphDlgDraw.cpp
Due: none

Make sure "Loading..." text is always readable
  src/TortoiseProc/RevisionGraph/RevisionGraphDlgDraw.cpp
Due: none

Update change log
  src/Changelog.txt
Due: none

Improve log dialog filter documentation
  doc/images/en/LogFilterOptions.png
  doc/source/en/TortoiseGit/tgit_dug/dug_log.xml
Due: doc

Doc: Mention DPI scaling for screenshots
  doc/Screenshots.txt
Due: none

Do not hard-code text position
  src/TortoiseProc/RevisionGraph/RevisionGraphDlgDraw.cpp
Due: none

Fixed issue #4165: Changing rebase settings during rebase can corrupt commit (squash after finishing edit)
  src/Changelog.txt
  src/TortoiseProc/RebaseDlg.cpp
Due: none

RabaseDlg: Make Squash->Mark next as Squash and Commit work
  src/TortoiseProc/RebaseDlg.cpp
Due: none

RebaseDlg: Correctly remember commits for rewriting on Squash after (Edit|Squash) sequence
  src/TortoiseProc/RebaseDlg.cpp
Due: none

WIP: Drop support for Windows 8.1
  doc/source/en/TortoiseGit/tgit_introduction.xml
  src/Resources/Library.ico
  src/Resources/TortoiseMergeENG.rc
  src/Resources/TortoiseProcENG.rc
  src/Resources/tortoisegit_logoflipped.bmp
  src/Resources/tortoisemerge_logoflipped.bmp
  src/TortoiseGitSetup/TortoiseGIT.wxs
  src/TortoiseMerge/AboutDlg.cpp
  src/TortoiseMerge/AboutDlg.h
  src/TortoiseMerge/resource.h
  src/TortoiseProc/AboutDlg.cpp
  src/TortoiseProc/AboutDlg.h
  src/TortoiseProc/TortoiseProc.vcxproj
  src/TortoiseProc/TortoiseProc.vcxproj.filters
  src/TortoiseProc/resource.h
  src/Utils/Libraries.cpp
  src/Utils/SysInfo.h
  src/compatibility.manifest.xml
Due: doc

No need to ship Notepad2 any more as Notepad supports LF EOL since Windows 10
  Languages/Tortoise.pot
  ext/tools/Notepad2-x64.exe
  ext/tools/Notepad2-x86.exe
  src/Resources/TortoiseProcENG.rc
  src/TortoiseGitSetup/StructureFragment.wxi
  src/TortoiseProc/AppUtils.cpp
Due: spellcheck-pot

WIP: Drop support for Windows 7 and Windows 8
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_advanced.xml
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_general.xml
  doc/source/en/TortoiseGit/tgit_introduction.xml
  src/TortoiseGitSetup/FeaturesFragment.wxi
  src/TortoiseGitSetup/Includes.wxi
  src/TortoiseGitSetup/ProtocolSupport.wxi
  src/TortoiseGitSetup/TortoiseGIT.wxs
  src/TortoiseGitSetup/WiXSetup.wixproj
  src/TortoiseGitSetup/Win7LibraryAndExplorerToolbarActions.wxi
  src/TortoiseProc/ProjectProperties.cpp
  src/TortoiseProc/Settings/SetLookAndFeelPage.cpp
  src/TortoiseProc/TortoiseProc.cpp
  src/Utils/Libraries.cpp
  src/Utils/SysInfo.h
  src/Utils/Windows10Colors.cpp
  src/compatibility.manifest.xml
Due: doc
