Repository TortoiseGit/TortoiseGit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc, spellcheck-pot

.gitlab-ci.yml:

# General info: https://docs.gitlab.com/ee/ci/yaml/

doc:
  image: ubuntu:jammy
  before_script:
    - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
    - apt-get update -qq
    - DEBIAN_FRONTEND=noninteractive apt-get install -qq --no-install-recommends -y xsltproc docbook-xsl nant aspell aspell-en python3 git
    - echo -e "section_end:`date +%s`:install_packages\r\e[0K"
  script:
    - ./.gitlab-ci/check.sh
  except:
    refs:
      - tags
  only:
    changes:
      - .gitlab-ci.yml
      - .gitlab-ci/check.sh
      - doc/images/en/**/*
      - doc/source/**/*
      - doc/xsl/**/*
      - doc/doc.build*
      - doc/Aspell/*
      - doc/scripts/**
      - src/TortoiseMege/resource.h
      - src/TortoiseProc/resource.h
      - src/Resources/*.rc
      - src/Resources/*HelpMapping.ini

spellcheck-pot:
  image: debian:trixie
  before_script:
    - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
    - apt-get update -qq
    - apt-get install -qq --no-install-recommends -y aspell aspell-en gettext python3
    - echo -e "section_end:`date +%s`:install_packages\r\e[0K"
  script:
    - perl -pi -e 's|\\r||g' Languages/Tortoise.pot
    - msginit --no-translator -l en_US -i Languages/Tortoise.pot -o Languages/Tortoise_en.po
    - perl -pi -e 's|&([^ ])|\1|g' Languages/Tortoise_en.po
    - cp doc/Aspell/TortoiseGit.tmpl.pws doc/Aspell/Temp.pws
    - perl -pi -e 's/\$LANG\$/en/g' doc/Aspell/Temp.pws
    - python3 .gitlab-ci/gettext-lint/POFileSpell --command='aspell --encoding=UTF-8 --add-extra-dicts="./doc/Aspell/en.pws" --add-extra-dicts=./doc/Aspell/Temp.pws --add-extra-dicts=./doc/Aspell/TortoisePot.pws --lang=en list' Languages/Tortoise_en.po > spellcheck.log
    - if [[ $(cat spellcheck.log 2>/dev/null | wc -l) -gt 1 ]]; then
        echo -e "\e[1;31m!!! Found typos !!!\e[0m";
        cat spellcheck.log;
        exit 1;
      fi
  except:
    refs:
      - tags
  only:
    changes:
      - .gitlab-ci.yml
      - .gitlab-ci/gettext-lint/*
      - Languages/Tortoise.pot
      - doc/Aspell/*.pws

commit-messages:
  image: debian:trixie
  before_script:
    - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
    - apt-get update -qq
    - apt-get install -qq -y git
    - echo -e "section_end:`date +%s`:install_packages\r\e[0K"
  script:
    - .gitlab-ci/check-commits.sh
  only: [merge_requests]

Only update Explorer title for real folders (and not for .zip files)
  src/TGitCache/TGITCache.cpp
Due: none

Make TGitCache not exit due to the last thread exiting in debug for easier debugging
  src/TGitCache/TGITCache.cpp
Due: none

TGitCache window: Show on primary display in foreground
  src/TGitCache/TGITCache.cpp
Due: none

Clean up all created files
  .gitignore
  doc/doc.build
Due: doc

Replace nant with "drop in" Python script for building the documentation
  doc/.gitattributes
  doc/build.py
Due: none

testing...
  doc/doc.build.user.linux.templ
Due: doc

last test
  .gitlab-ci/check.sh
Due: doc

squash
  .gitlab-ci.yml
  .gitlab-ci/check.sh
Due: doc, spellcheck-pot

squash
  .gitlab-ci.yml
  doc/build.py
Due: doc, spellcheck-pot

squash
  .gitlab-ci/check.sh
Due: doc

TODO: drop nant
  build.txt
  doc/Aspell/Readme.txt
  doc/readme.txt
Due: doc

squash buildpy
  doc/build.py
  doc/doc.build.user.linux.templ
Due: doc

squash build
  doc/build.py
Due: none

Ignore temporary files and PDFs
  doc/scripts/generate_wix_filelist.py
Due: doc

directly append in python
  doc/Aspell/append.sh
  doc/build.py
Due: doc

squash
  doc/Aspell/append.bat
  doc/build.py
Due: doc

extract spellcheck
  .gitlab-ci/check.sh
  doc/Aspell/Readme.txt
  doc/Aspell/aspell.bat.in
  doc/Aspell/aspell.sh
  doc/Aspell/build.py
  doc/build.py
Due: doc

add exception for appveyor
  appveyor.yml
Due: none

typo
  doc/source/en/TortoiseGit/tgit_app_faq.xml
Due: doc

testing
  doc/Aspell/build.py
Due: doc

appveyor squash
  appveyor.yml
Due: none

aspell squash
  doc/Aspell/Readme.txt
Due: doc

introduce error and debug
  doc/Aspell/build.py
Due: doc

squash
  doc/Aspell/build.py
Due: doc

squash
  doc/Aspell/build.py
  doc/build.py
Due: doc

squash
  .gitignore
Due: none

nicer
  .gitlab-ci/check.sh
  doc/Aspell/build.py
Due: doc

Revert "typo"
  doc/source/en/TortoiseGit/tgit_app_faq.xml
Due: doc

squash
  .gitlab-ci/check.sh
  doc/Aspell/build.py
Due: doc

squash
  .gitlab-ci/check.sh
  doc/Aspell/Readme.txt
  doc/Aspell/check.py
Due: doc

Drop nant stuff
  .gitlab-ci/check.sh
  doc/doc.build
  doc/doc.build.include
  doc/doc.build.user.linux.templ
  doc/doc.build.user.tmpl
Due: doc

make nicer spellcheck
  .gitlab-ci/check.sh
  doc/Aspell/Readme.txt
  doc/Aspell/check_doc.py
Due: doc

squash
  doc/build.py
Due: none

squash spell
  doc/Aspell/Readme.txt
  doc/Aspell/check_doc.py
Due: doc

spell nicer
  doc/Aspell/check_doc.py
Due: doc

nicer
  doc/build.py
Due: none
