Repository TortoiseGit/TortoiseGit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc, spellcheck-pot

.gitlab-ci.yml:

# General info: https://docs.gitlab.com/ee/ci/yaml/

doc:
  image: ubuntu:focal
  before_script:
    - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
    - apt-get update -qq
    - apt-get install -qq --no-install-recommends -y xsltproc docbook-xsl nant aspell aspell-en
    - echo -e "section_end:`date +%s`:install_packages\r\e[0K"
  script:
    - mv doc/doc.build.user.linux.templ doc/doc.build.user
    - cd doc
    - nant -D:spellcheck=true
    - if [[ $(ls -1 Aspell/*.log 2>/dev/null | wc -l) -ge 1 ]]; then
        echo -e "\e[1;31m!!! Found typos !!!\e[0m";
        cat Aspell/*.log;
        exit 1;
      fi
  except:
    refs:
      - tags
  only:
    changes:
      - .gitlab-ci.yml
      - doc/images/en/**/*
      - doc/source/**/*
      - doc/xsl/**/*
      - doc/doc.build*
      - doc/Aspell/*

spellcheck-pot:
  image: debian:buster
  before_script:
    - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
    - apt-get update -qq
    - apt-get install -qq --no-install-recommends -y aspell aspell-en gettext gettext-lint
    - echo -e "section_end:`date +%s`:install_packages\r\e[0K"
  script:
    - perl -pi -e 's|\\r||g' Languages/Tortoise.pot
    - msginit --no-translator -l en_US -i Languages/Tortoise.pot -o Languages/Tortoise_en.po
    - perl -pi -e 's|&([^ ])|\1|g' Languages/Tortoise_en.po
    - cp doc/Aspell/TortoiseGit.tmpl.pws doc/Aspell/Temp.pws
    - perl -pi -e 's/\$LANG\$/en/g' doc/Aspell/Temp.pws
    - POFileSpell --command='aspell --encoding=UTF-8 --add-extra-dicts="./doc/Aspell/en.pws" --add-extra-dicts=./doc/Aspell/Temp.pws --add-extra-dicts=./doc/Aspell/TortoisePot.pws --lang=en list' Languages/Tortoise_en.po > spellcheck.log
    - if [[ $(cat spellcheck.log 2>/dev/null | wc -l) -gt 1 ]]; then
        echo -e "\e[1;31m!!! Found typos !!!\e[0m";
        cat spellcheck.log;
        exit 1;
      fi
  except:
    refs:
      - tags
  only:
    changes:
      - .gitlab-ci.yml
      - Languages/Tortoise.pot
      - doc/Aspell/*.pws

Prepare release and bump version numbers to 2.17.0.1
  src/Changelog.txt
  src/TortoiseGitSetup/VersionNumberInclude.wxi
  src/version.h
Due: none

Prepare release and bump version numbers to 2.17.0.2
  src/Changelog.txt
  src/TortoiseGitSetup/VersionNumberInclude.wxi
Due: none

Drop support for Windows 7 and Windows 8
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_advanced.xml
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_general.xml
  doc/source/en/TortoiseGit/tgit_introduction.xml
  src/TortoiseGitSetup/FeaturesFragment.wxi
  src/TortoiseGitSetup/Includes.wxi
  src/TortoiseGitSetup/ProtocolSupport.wxi
  src/TortoiseGitSetup/TortoiseGIT.wxs
  src/TortoiseGitSetup/WiXSetup.wixproj
  src/TortoiseGitSetup/Win7LibraryAndExplorerToolbarActions.wxi
  src/TortoiseProc/ProjectProperties.cpp
  src/TortoiseProc/TortoiseProc.cpp
  src/Utils/Libraries.cpp
  src/Utils/SysInfo.h
  src/Utils/Windows10Colors.cpp
  src/compatibility.manifest.xml
Due: doc

WIP: Drop support for Windows 8.1
  doc/source/en/TortoiseGit/tgit_introduction.xml
  src/Resources/Library.ico
  src/Resources/TortoiseMergeENG.rc
  src/Resources/TortoiseProcENG.rc
  src/Resources/tortoisegit_logoflipped.bmp
  src/Resources/tortoisemerge_logoflipped.bmp
  src/TortoiseGitSetup/TortoiseGIT.wxs
  src/TortoiseMerge/AboutDlg.cpp
  src/TortoiseMerge/AboutDlg.h
  src/TortoiseMerge/resource.h
  src/TortoiseProc/AboutDlg.cpp
  src/TortoiseProc/AboutDlg.h
  src/TortoiseProc/TortoiseProc.vcxproj
  src/TortoiseProc/TortoiseProc.vcxproj.filters
  src/TortoiseProc/resource.h
  src/Utils/Libraries.cpp
  src/Utils/SysInfo.h
  src/compatibility.manifest.xml
Due: doc

No need to ship Notepad2 any more as Notepad supports LF EOL since Windows 10
  Languages/Tortoise.pot
  ext/tools/Notepad2-x64.exe
  ext/tools/Notepad2-x86.exe
  src/Resources/TortoiseProcENG.rc
  src/TortoiseGitSetup/StructureFragment.wxi
  src/TortoiseProc/AppUtils.cpp
Due: spellcheck-pot

Undo Windows 7 workarounds
  src/TortoiseMerge/MainFrm.cpp
  src/TortoiseShell/ContextMenu.cpp
Due: none

Fix possible crash for working trees with special names
  src/TortoiseProc/TortoiseProc.cpp
Due: none

Make sure tabsize cannot be 0
  src/TortoiseMerge/BaseView.cpp
  src/TortoiseMerge/MainFrm.h
  src/TortoiseMerge/SetMainPage.cpp
Due: none

Constify methods
  src/TortoiseMerge/BaseView.h
Due: none

Drop superfluous method definition
  src/TortoiseMerge/BaseView.h
Due: none

Read and write po files as binary, do the unicode conversion directly without a facet
  src/ResText/POFile.cpp
Due: none

Don't set the background mode to transparent when setting the colors. This should solve a garbled-text problem with edit controls in dark mode
  src/Utils/Theme.cpp
Due: none

FirstStartWizard: Correctly use the new language when a language pack was installed in background
  src/TortoiseProc/FirstStartWizardLanguage.cpp
  src/TortoiseProc/FirstStartWizardLanguage.h
Due: none

Add check scripts for manual references
  .gitignore
  .gitlab-ci.yml
  doc/CheckIDD.bat
  doc/CheckIDD.sh
  doc/scripts/TortoiseMergeENG.ignore
  doc/scripts/TortoiseProcENG.ignore
  doc/scripts/chkidd.py
  doc/scripts/fileutil.py
Due: doc, spellcheck-pot

Fix c&p error
  src/TortoiseProc/resource.h
Due: none

Start the CHM viewer ourselves
  src/TortoiseMerge/MainFrm.cpp
  src/TortoiseMerge/MainFrm.h
  src/TortoiseProc/FirstStartWizardAuthentication.cpp
  src/TortoiseProc/FirstStartWizardGit.cpp
  src/TortoiseProc/FirstStartWizardStart.cpp
  src/TortoiseProc/Settings/SetMainPage.cpp
  src/Utils/CommonAppUtils.cpp
  src/Utils/CommonAppUtils.h
  src/Utils/MiscUI/StandAloneDlg.h
Due: none

Allow to use online help
  doc/doc.build
  src/Resources/TGitHelpAlias.h
  src/Resources/TGitHelpContext.h
  src/Resources/TGitMergeHelpAlias.h
  src/Resources/TGitMergeHelpContext.h
  src/Resources/TortoiseMergeENG.rc
  src/Resources/TortoiseProcENG.rc
  src/TortoiseMerge/TortoiseMerge.vcxproj
  src/TortoiseMerge/TortoiseMerge.vcxproj.filters
  src/TortoiseMerge/resource.h
  src/TortoiseProc/TortoiseProc.vcxproj
  src/TortoiseProc/TortoiseProc.vcxproj.filters
  src/TortoiseProc/resource.h
  src/Utils/CommonAppUtils.cpp
  src/Utils/CommonAppUtils.h
Due: doc

Allow to build help mapping files without hhc.exe and makehm.exe
  .gitlab-ci.yml
  doc/doc.build
  doc/doc.build.include
  doc/scripts/create_html_mapping.py
  doc/xsl/htmlchunk.xsl
Due: doc, spellcheck-pot

Use preprocessed mapping file
  .gitlab-ci.yml
  build.txt
  doc/doc.build
  doc/doc.build.include
  doc/readme.txt
  doc/scripts/create_html_mapping.py
  src/Resources/TGitHelpAlias.h
  src/Resources/TGitHelpContext.h
  src/Resources/TGitHelpMapping.ini
  src/Resources/TGitMergeHelpAlias.h
  src/Resources/TGitMergeHelpContext.h
  src/Resources/TGitMergeHelpMapping.ini
  src/Resources/TortoiseMergeENG.rc
  src/Resources/TortoiseProcENG.rc
  src/TortoiseMerge/TortoiseMerge.vcxproj
  src/TortoiseMerge/TortoiseMerge.vcxproj.filters
  src/TortoiseMerge/resource.h
  src/TortoiseProc/TortoiseProc.vcxproj
  src/TortoiseProc/TortoiseProc.vcxproj.filters
  src/TortoiseProc/resource.h
  src/Utils/CommonAppUtils.cpp
Due: doc, spellcheck-pot

Deduplicate code
  src/TortoiseProc/Commands/HelpCommand.h
  src/TortoiseProc/Commands/RTFMCommand.h
Due: none

Allow to disable the generation of the help mapping
  doc/doc.build
  doc/doc.build.include
  doc/xsl/htmlchunk.xsl
Due: doc

Allow to de-select the help file on installation and use the online help
  src/TortoiseGitSetup/FeaturesFragment.wxi
Due: none

Generate and ship HTML files as offline help
  doc/doc.build
  doc/scripts/generate_wix_filelist.py
  src/TortoiseGitSetup/FeaturesFragment.wxi
  src/TortoiseGitSetup/HTMLHelpfiles.wxi
  src/TortoiseGitSetup/StructureFragment.wxi
  src/TortoiseGitSetup/TortoiseGIT.wxs
  src/TortoiseGitSetup/WiXSetup.wixproj
  src/Utils/CommonAppUtils.cpp
Due: doc

Drop support for generating CHM help files
  .gitignore
  doc/doc.build
  doc/doc.build.include
  doc/doc.build.user.linux.templ
  doc/doc.build.user.tmpl
  doc/readme.txt
  doc/scripts/generate_wix_filelist.py
  doc/source/styles_chm.css
  doc/source/styles_html.css
  doc/xsl/htmlhelp.xsl
Due: doc

Update the documentation for building the documentation
  build.txt
  doc/readme.txt
Due: none

Use SVG callouts
  doc/doc.build
  doc/images/en/callouts/1.png
  doc/images/en/callouts/10.png
  doc/images/en/callouts/11.png
  doc/images/en/callouts/12.png
  doc/images/en/callouts/13.png
  doc/images/en/callouts/14.png
  doc/images/en/callouts/15.png
  doc/images/en/callouts/2.png
  doc/images/en/callouts/3.png
  doc/images/en/callouts/4.png
  doc/images/en/callouts/5.png
  doc/images/en/callouts/6.png
  doc/images/en/callouts/7.png
  doc/images/en/callouts/8.png
  doc/images/en/callouts/9.png
  doc/xsl/htmlchunk.xsl
  doc/xsl/htmlsingle.xsl
Due: doc

Compress callout SVGs
  doc/images/en/callouts/1.svg
  doc/images/en/callouts/10.svg
  doc/images/en/callouts/11.svg
  doc/images/en/callouts/12.svg
  doc/images/en/callouts/13.svg
  doc/images/en/callouts/14.svg
  doc/images/en/callouts/15.svg
  doc/images/en/callouts/2.svg
  doc/images/en/callouts/3.svg
  doc/images/en/callouts/4.svg
  doc/images/en/callouts/5.svg
  doc/images/en/callouts/6.svg
  doc/images/en/callouts/7.svg
  doc/images/en/callouts/8.svg
  doc/images/en/callouts/9.svg
Due: doc

Start the CHM viewer ourselves
  src/TortoiseMerge/MainFrm.cpp
  src/TortoiseMerge/MainFrm.h
  src/TortoiseProc/FirstStartWizardAuthentication.cpp
  src/TortoiseProc/FirstStartWizardGit.cpp
  src/TortoiseProc/FirstStartWizardStart.cpp
  src/TortoiseProc/Settings/SetMainPage.cpp
  src/TortoiseProc/Settings/Settings.cpp
  src/TortoiseProc/Settings/Settings.h
  src/Utils/CommonAppUtils.cpp
  src/Utils/CommonAppUtils.h
  src/Utils/MiscUI/StandAloneDlg.h
Due: none

Drop support for Windows 7 and Windows 8
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_advanced.xml
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_general.xml
  doc/source/en/TortoiseGit/tgit_introduction.xml
  src/Changelog.txt
  src/TortoiseGitSetup/FeaturesFragment.wxi
  src/TortoiseGitSetup/Includes.wxi
  src/TortoiseGitSetup/ProtocolSupport.wxi
  src/TortoiseGitSetup/TortoiseGIT.wxs
  src/TortoiseGitSetup/WiXSetup.wixproj
  src/TortoiseGitSetup/Win7LibraryAndExplorerToolbarActions.wxi
  src/TortoiseProc/ProjectProperties.cpp
  src/TortoiseProc/TortoiseProc.cpp
  src/Utils/CommonAppUtils.cpp
  src/Utils/Libraries.cpp
  src/Utils/SysInfo.h
  src/Utils/Windows10Colors.cpp
  src/compatibility.manifest.xml
Due: doc
