Repository TortoiseGit/TortoiseGit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc, spellcheck-pot

doc:
  image: ubuntu:jammy
  before_script:
  - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
  - apt-get update -qq
  - DEBIAN_FRONTEND=noninteractive apt-get install -qq --no-install-recommends -y xsltproc docbook-xsl nant aspell aspell-en python3 git
  ...

spellcheck-pot:
  image: debian:trixie
  before_script:
  - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
  - apt-get update -qq
  - apt-get install -qq --no-install-recommends -y aspell aspell-en gettext python3
  ...

squash
  doc/Aspell/check_doc.py
Due: doc

make work with aspell in msys2 environment
  doc/Aspell/check_doc.py
Due: doc

fix debug parameter
  doc/Aspell/check_doc.py
  doc/build.py
Due: doc

spell
  doc/Aspell/Readme.txt
Due: doc

make work on *nix out of the box
  doc/build.py
Due: none

squash debug
  doc/build.py
Due: none

Use paths
  doc/build.py
Due: none

Make work with MSYS2
  doc/build.py
Due: none

squash order
  doc/build.py
Due: none

live output
  doc/build.py
Due: none

squash
  doc/build.py
Due: none

unschön
  doc/build.py
Due: none

works at least on unix?
  doc/build.py
Due: none

so solls
  doc/build.py
Due: none

deduplicate docs requirements
  build.txt
Due: none

directly append in python
  doc/Aspell/append.bat
  doc/Aspell/append.sh
  doc/build.py
Due: doc

make work on *nix out of the box
  .gitlab-ci/check.sh
  doc/build.py
  doc/doc.build.user.linux.templ
Due: doc

Replace nant with "drop in" Python script for building the documentation
  .gitlab-ci.yml
  .gitlab-ci/check.sh
  build.txt
  doc/.gitattributes
  doc/build.py
  doc/doc.build
  doc/doc.build.include
  doc/doc.build.user.linux.templ
  doc/doc.build.user.tmpl
  doc/readme.txt
Due: doc, spellcheck-pot

Ignore temporary files and PDFs
  doc/scripts/generate_wix_filelist.py
Due: doc

recheck
  .gitignore
  doc/Aspell/check_doc.py
Due: doc

extract spellchecker
  .gitlab-ci/check.sh
  doc/Aspell/Readme.txt
  doc/Aspell/check_doc.py
  doc/build.py
  doc/doc.build.user.tmpl
  doc/readme.txt
Due: doc

directly call aspell
  .gitignore
  .gitlab-ci/check.sh
  doc/Aspell/aspell.bat.in
  doc/Aspell/aspell.sh
  doc/Aspell/check_doc.py
Due: doc

Use paths
  doc/Aspell/check_doc.py
  doc/build.py
Due: doc

TODO
  doc/readme.txt
Due: none

Use trixie
  .gitlab-ci.yml
Due: doc, spellcheck-pot

Update libgit to version 2.53 based on Git for Windows sources
  ext/build/libgit.vcxproj
  ext/build/libgit.vcxproj.filters
  ext/gitdll/gitdll.c
  ext/gitdll/gitdll.h
  ext/gitdll/gitdll.vcxproj
  src/Git/GitRevLoglist.cpp
Due: none

Fixed issue #4262: LogDlg: Improve startup performance with many branches
  src/Changelog.txt
  src/TortoiseProc/GitLogListBase.cpp
  src/TortoiseProc/GitLogListBase.h
Due: none

Directly use string_view functions
  src/TortoiseProc/DiffLinesForStaging.cpp
Due: none

Use enum class for patch parsing state
  src/TortoiseProc/DiffLinesForStaging.cpp
Due: none

Update Scintilla to version 5.6.1
  ext/scintilla/include/Scintilla.h
  ext/scintilla/include/Scintilla.iface
  ext/scintilla/include/ScintillaTypes.h
  ext/scintilla/src/Document.cxx
  ext/scintilla/src/EditView.cxx
  ext/scintilla/src/EditView.h
  ext/scintilla/src/Editor.cxx
  ext/scintilla/src/Editor.h
  ext/scintilla/version.txt
  ext/scintilla/win32/ScintRes.rc
  ext/scintilla/win32/ScintillaWin.cxx
Due: none

Apply backgroundcolors.patch
  ext/scintilla/include/Scintilla.h
  ext/scintilla/src/EditView.cxx
  ext/scintilla/src/EditView.h
  ext/scintilla/src/Editor.cxx
  ext/scintilla/src/Editor.h
  ext/scintilla/win32/ScintillaWin.cxx
Due: none

Directly use string functions
  src/TortoiseShell/ContextMenu.cpp
  src/TortoiseShell/ItemIDList.cpp
Due: none

Make constant constexpr
  src/Utils/UnicodeUtils.cpp
Due: none

No need to fully initialize the buffer with zeros
  src/Utils/UnicodeUtils.cpp
Due: none

Drop check that cannot be true
  src/Utils/UnicodeUtils.cpp
Due: none

Path conditions:
  doc: any of: .gitlab-ci.yml, .gitlab-ci/check.sh, doc/images/en/**/*, doc/source/**/*, doc/xsl/**/*, doc/doc.build*, doc/Aspell/*, doc/scripts/**, src/TortoiseMege/resource.h, src/TortoiseProc/resource.h, src/Resources/*.rc, src/Resources/*HelpMapping.ini
  spellcheck-pot: any of: .gitlab-ci.yml, .gitlab-ci/gettext-lint/*, Languages/Tortoise.pot, doc/Aspell/*.pws
