Repository TortoiseGit/TortoiseGit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc, spellcheck-pot

doc:
  image: ubuntu:focal
  before_script:
  - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
  - apt-get update -qq
  - apt-get install -qq --no-install-recommends -y xsltproc docbook-xsl nant aspell aspell-en
  ...

spellcheck-pot:
  image: debian:buster
  before_script:
  - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
  - apt-get update -qq
  - apt-get install -qq --no-install-recommends -y aspell aspell-en gettext gettext-lint
  ...

Automatically append submodule name to the path selected with the folder browser
  src/TortoiseProc/SubmoduleAddDlg.cpp
Due: none

Use pragma once only in headers
  src/Git/GitRevRefBrowser.cpp
  src/TortoiseProc/Commands/ConflictEditorCommand.cpp
  src/Utils/DebugOutput.cpp
  src/Utils/MiscUI/DockablePaneUnscaledStoredState.cpp
  src/Utils/TaskbarUUID.cpp
Due: none

Get rid of tchar.h
  src/GitWCRev/GitWCRev.cpp
  src/GitWCRev/stdafx.h
  src/ResText/POFile.cpp
  src/ResText/ResModule.cpp
  src/ResText/ResText.cpp
  src/ResText/Utils.cpp
  src/ResText/stdafx.h
  src/SshAskPass/stdafx.h
  src/TGitCache/FolderCrawler.cpp
  src/TGitCache/stdafx.h
  src/TortoiseGitSetup/CustomActions/stdafx.h
  src/TortoiseGitSetup/RestartExplorer/RestartExplorer.cpp
  src/TortoiseGitSetup/RestartExplorer/stdafx.h
  src/TortoiseIDiff/NiceTrackbar.cpp
  src/TortoiseIDiff/stdafx.h
  src/TortoiseShell/TortoiseStub.cpp
  src/TortoiseShell/stdafx.h
  src/TortoiseUDiff/TortoiseUDiff.cpp
  src/TortoiseUDiff/stdafx.h
  src/Utils/CmdLineParser.cpp
  src/Utils/CmdLineParser.h
  src/Utils/CrashReport.h
  src/Utils/Debug.cpp
  src/Utils/LangDll.cpp
  src/Utils/ShellUpdater.cpp
  src/Utils/tstring.h
  src/touch/stdafx.h
  src/touch/touch.cpp
Due: none

Get rid of tstring.h
  src/ResText/ResText.cpp
  src/TortoiseIDiff/MainWindow.cpp
  src/TortoiseIDiff/MainWindow.h
  src/TortoiseIDiff/PicWindow.cpp
  src/TortoiseIDiff/PicWindow.h
  src/TortoiseProc/StatGraphDlg.cpp
  src/TortoiseProc/StatGraphDlg.h
  src/TortoiseShell/ContextMenu.cpp
  src/TortoiseShell/GITPropertyPage.cpp
  src/TortoiseShell/GITPropertyPage.h
  src/TortoiseShell/ItemIDList.cpp
  src/TortoiseShell/ItemIDList.h
  src/TortoiseShell/ShellCache.cpp
  src/TortoiseShell/ShellCache.h
  src/TortoiseShell/ShellExt.h
  src/TortoiseUDiff/MainWindow.cpp
  src/Utils/CmdLineParser.h
  src/Utils/MiscUI/Picture.cpp
  src/Utils/MiscUI/Picture.h
  src/Utils/RegHistory.cpp
  src/Utils/Registry.cpp
  src/Utils/registry.h
  src/Utils/tstring.h
Due: none

Fixes issue #3750: Dramatic speedup saving of large files from TortoiseMerge
  src/TortoiseMerge/FileTextLines.cpp
  src/TortoiseMerge/FileTextLines.h
Due: none

Update changelog
  src/Changelog.txt
Due: none

Fixed issue #3752: Duplicate mnemonics in Reset dialog
  Languages/Tortoise.pot
  src/Resources/TortoiseProcENG.rc
Due: spellcheck-pot

Use the submodule branch as the default pull branch
  src/TortoiseProc/PullFetchDlg.cpp
Due: none

Fix color of the splitter control in dark mode
  src/Utils/MiscUI/SplitterControl.cpp
Due: none

Correctly pass bMerge to StartShowUnifiedDiff
  src/Git/GitStatusListCtrl.cpp
Due: none

Fixed issue #2379: "Show changes as unified diff" from Commit window on N files opens N diff windows
  src/Changelog.txt
  src/Git/GitStatusListCtrl.cpp
Due: none

Change the label of the checkboxes to Git specific language
  Languages/Tortoise.pot
  doc/source/en/TortoiseGit/tgit_dug/dug_push.xml
  src/Resources/TortoiseProcENG.rc
Due: doc, spellcheck-pot

If the local branch is not yet tracked, make that the default
  src/TortoiseProc/PushDlg.cpp
Due: none

Make the buttons the same size as the combobox
  src/Resources/TortoiseProcENG.rc
Due: none

Fix a handle leak
  src/Utils/registry.h
Due: none

Custom draw menu bars in dark mode for TortoiseGitIDiff and TortoiseGitUDiff
  src/TortoiseIDiff/MainWindow.cpp
  src/TortoiseUDiff/MainWindow.cpp
  src/Utils/Theme.cpp
  src/Utils/Theme.h
Due: none

Initialize gdiplus for TortoiseUDiff
  src/TortoiseUDiff/TortoiseUDiff.cpp
Due: none

Update backgroundcolors.patch
  ext/scintilla/backgroundcolors.patch
Due: none

Apply backgroundcolors.patch
  ext/scintilla/include/Scintilla.h
  ext/scintilla/src/EditView.cxx
  ext/scintilla/src/EditView.h
  ext/scintilla/src/Editor.cxx
  ext/scintilla/src/Editor.h
  ext/scintilla/win32/ScintillaWin.cxx
Due: none

Fixed issue #3738: Added force flag on LFSLocksDlg
  Languages/Tortoise.pot
  src/Changelog.txt
  src/Resources/TortoiseProcENG.rc
  src/TortoiseProc/LFSLocksDlg.cpp
  src/TortoiseProc/LFSLocksDlg.h
Due: spellcheck-pot

CommitDlg. Correctly show diff of old to new file in patch view
  src/TortoiseProc/CommitDlg.cpp
Due: none

Remember staging support for the repository
  src/TortoiseProc/CommitDlg.cpp
  src/TortoiseProc/CommitDlg.h
Due: none

Fix algorithm for "\ No newline at end of file"
  src/TortoiseProc/DiffLinesForStaging.cpp
  test/UnitTests/StagingTest.cpp
  test/UnitTests/resources/git-partial-staging-repo/COMMIT_EDITMSG
  test/UnitTests/resources/git-partial-staging-repo/HEAD
  test/UnitTests/resources/git-partial-staging-repo/ORIG_HEAD
  test/UnitTests/resources/git-partial-staging-repo/config
  test/UnitTests/resources/git-partial-staging-repo/description
  test/UnitTests/resources/git-partial-staging-repo/hooks/README.sample
  test/UnitTests/resources/git-partial-staging-repo/index
  test/UnitTests/resources/git-partial-staging-repo/info/exclude
  test/UnitTests/resources/git-partial-staging-repo/logs/HEAD
  test/UnitTests/resources/git-partial-staging-repo/logs/refs/heads/master
  test/UnitTests/resources/git-partial-staging-repo/objects/01/e79c32a8c99c557f0757da7cb6d65b3414466d
  test/UnitTests/resources/git-partial-staging-repo/objects/5f/5fbe759f10b9807b18f3898afd7505dbbfcbd2
  test/UnitTests/resources/git-partial-staging-repo/objects/86/74fffad6f3fe84dc04ec92c37199b539cf6f3f
  test/UnitTests/resources/git-partial-staging-repo/objects/db/2ef819207b1888e39101be44a91db418d593af
  test/UnitTests/resources/git-partial-staging-repo/refs/heads/master
  test/UnitTests/resources/patches/newline-at-end-of-file-other-line-modified2.patch
Due: none

Fixed issue #2299: Better support the git staging process
  Languages/Tortoise.pot
  src/Git/Git.cpp
  src/Git/Git.h
  src/Git/GitStatusListCtrl.cpp
  src/Git/GitStatusListCtrl.h
  src/Git/TGitPath.cpp
  src/Git/TGitPath.h
  src/Resources/TortoiseProcENG.rc
  src/Resources/indeterminate.ico
  src/TortoiseProc/CommitDlg.cpp
  src/TortoiseProc/CommitDlg.h
  src/TortoiseProc/DiffLinesForStaging.cpp
  src/TortoiseProc/DiffLinesForStaging.h
  src/TortoiseProc/EnableStagingTypes.h
  src/TortoiseProc/PatchViewDlg.cpp
  src/TortoiseProc/PatchViewDlg.h
  src/TortoiseProc/Settings/SetSavedDataPage.cpp
  src/TortoiseProc/StagingOperations.cpp
  src/TortoiseProc/StagingOperations.h
  src/TortoiseProc/TortoiseProc.vcxproj
  src/TortoiseProc/TortoiseProc.vcxproj.filters
  src/TortoiseProc/resource.h
  test/UnitTests/StagingTest.cpp
  test/UnitTests/UnitTests.vcxproj
  test/UnitTests/UnitTests.vcxproj.filters
  test/UnitTests/resources/patches/fool-parser.patch
  test/UnitTests/resources/patches/newline-at-end-of-file-added.patch
  test/UnitTests/resources/patches/newline-at-end-of-file-deleted.patch
  test/UnitTests/resources/patches/newline-at-end-of-file-last-line-modified.patch
  test/UnitTests/resources/patches/newline-at-end-of-file-other-line-modified.patch
  test/UnitTests/resources/patches/partial-staging.patch
Due: spellcheck-pot

Handle amends by forcing "show diff to last commit"
  src/TortoiseProc/CommitDlg.cpp
Due: none

Keep track of the state of the partial staging links on the window using a bitfield instead of two bool variables
  src/TortoiseProc/CommitDlg.cpp
  src/TortoiseProc/CommitDlg.h
Due: none

Display on the titlebar of the View Patch window which patch is currently shown
  Languages/Tortoise.pot
  src/Resources/TortoiseProcENG.rc
  src/TortoiseProc/CommitDlg.cpp
  src/TortoiseProc/PatchViewDlg.cpp
  src/TortoiseProc/resource.h
Due: spellcheck-pot

Extract into a new method all the code that deals with the index before a commit when staging support is disabled
  src/TortoiseProc/CommitDlg.cpp
  src/TortoiseProc/CommitDlg.h
Due: none

Disable partial staging for added, deleted and conflicted files and submodules
  Languages/Tortoise.pot
  src/Resources/TortoiseProcENG.rc
  src/TortoiseProc/CommitDlg.cpp
Due: spellcheck-pot

Improve performance
  Languages/Tortoise.pot
  src/Git/Git.cpp
  src/Git/Git.h
  src/Git/GitStatusListCtrl.cpp
  src/Git/GitStatusListCtrl.h
  src/Resources/TortoiseProcENG.rc
  src/TortoiseProc/CommitDlg.cpp
  src/TortoiseProc/CommitDlg.h
  src/TortoiseProc/PatchViewDlg.cpp
Due: spellcheck-pot

Update TortoiseGitPlink to PuTTY 0.76
  src/Changelog.txt
  src/TortoisePlink/CMDLINE.C
  src/TortoisePlink/PUTTY.H
  src/TortoisePlink/SETTINGS.C
  src/TortoisePlink/SSH.C
  src/TortoisePlink/SSHAES.C
  src/TortoisePlink/SSHPUBK.C
  src/TortoisePlink/SSHSH256.C
  src/TortoisePlink/SSHSHA.C
  src/TortoisePlink/Windows/TortoisePlink.rc
  src/TortoisePlink/Windows/WINHANDL.C
  src/TortoisePlink/Windows/WINHELP.H
  src/TortoisePlink/Windows/WINPGNTC.C
  src/TortoisePlink/Windows/WINPLINK.C
  src/TortoisePlink/Windows/wingss.c
  src/TortoisePlink/ssh1login.c
  src/TortoisePlink/ssh2userauth.c
  src/TortoisePlink/sshppl.h
  src/TortoisePlink/version.h
Due: none

Path conditions:
  doc: any of: .gitlab-ci.yml, doc/images/en/**/*, doc/source/**/*, doc/xsl/**/*, doc/doc.build*, doc/Aspell/*
  spellcheck-pot: any of: .gitlab-ci.yml, Languages/Tortoise.pot, doc/Aspell/*.pws
