Repository TortoiseGit/TortoiseGit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc, spellcheck-pot

doc:
  image: ubuntu:focal
  before_script:
  - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
  - apt-get update -qq
  - apt-get install -qq --no-install-recommends -y xsltproc docbook-xsl nant aspell aspell-en
  ...

spellcheck-pot:
  image: debian:buster
  before_script:
  - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
  - apt-get update -qq
  - apt-get install -qq --no-install-recommends -y aspell aspell-en gettext gettext-lint
  ...

WIP: Drop support for Windows 8.1
  doc/source/en/TortoiseGit/tgit_introduction.xml
  src/Changelog.txt
  src/Resources/Library.ico
  src/Resources/TortoiseMergeENG.rc
  src/Resources/TortoiseProcENG.rc
  src/Resources/tortoisegit_logoflipped.bmp
  src/Resources/tortoisemerge_logoflipped.bmp
  src/TortoiseGitSetup/TortoiseGIT.wxs
  src/TortoiseMerge/AboutDlg.cpp
  src/TortoiseMerge/AboutDlg.h
  src/TortoiseMerge/resource.h
  src/TortoiseProc/AboutDlg.cpp
  src/TortoiseProc/AboutDlg.h
  src/TortoiseProc/TortoiseProc.vcxproj
  src/TortoiseProc/TortoiseProc.vcxproj.filters
  src/TortoiseProc/resource.h
  src/Utils/Libraries.cpp
  src/Utils/SysInfo.h
  src/compatibility.manifest.xml
Due: doc

No need to ship Notepad2 any more as Notepad supports LF EOL since Windows 10
  Languages/Tortoise.pot
  ext/tools/Notepad2-x64.exe
  ext/tools/Notepad2-x86.exe
  src/Changelog.txt
  src/Resources/TortoiseProcENG.rc
  src/TortoiseGitSetup/StructureFragment.wxi
  src/TortoiseProc/AppUtils.cpp
Due: spellcheck-pot

Undo Windows 7 workarounds
  src/TortoiseMerge/MainFrm.cpp
  src/TortoiseShell/ContextMenu.cpp
Due: none

Fix warning
  src/Utils/CommonAppUtils.cpp
Due: none

Drop support for Windows 7 and Windows 8
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_advanced.xml
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_general.xml
  doc/source/en/TortoiseGit/tgit_introduction.xml
  src/Changelog.txt
  src/TortoiseGitSetup/FeaturesFragment.wxi
  src/TortoiseGitSetup/Includes.wxi
  src/TortoiseGitSetup/ProtocolSupport.wxi
  src/TortoiseGitSetup/TortoiseGIT.wxs
  src/TortoiseGitSetup/WiXSetup.wixproj
  src/TortoiseGitSetup/Win7LibraryAndExplorerToolbarActions.wxi
  src/TortoiseProc/ProjectProperties.cpp
  src/TortoiseProc/TortoiseProc.cpp
  src/Utils/CommonAppUtils.cpp
  src/Utils/Libraries.cpp
  src/Utils/SysInfo.h
  src/Utils/Windows10Colors.cpp
  src/compatibility.manifest.xml
Due: doc

Drop support for Windows 8.1
  doc/source/en/TortoiseGit/tgit_introduction.xml
  src/Changelog.txt
  src/Resources/Library.ico
  src/Resources/TortoiseMergeENG.rc
  src/Resources/TortoiseProcENG.rc
  src/Resources/tortoisegit_logoflipped.bmp
  src/Resources/tortoisemerge_logoflipped.bmp
  src/TortoiseGitSetup/TortoiseGIT.wxs
  src/TortoiseMerge/AboutDlg.cpp
  src/TortoiseMerge/AboutDlg.h
  src/TortoiseMerge/resource.h
  src/TortoiseProc/AboutDlg.cpp
  src/TortoiseProc/AboutDlg.h
  src/TortoiseProc/TortoiseProc.vcxproj
  src/TortoiseProc/TortoiseProc.vcxproj.filters
  src/TortoiseProc/resource.h
  src/Utils/Libraries.cpp
  src/Utils/SysInfo.h
  src/compatibility.manifest.xml
Due: doc

No need to ship Notepad2e any more as Notepad supports LF EOL since Windows 10
  Languages/Tortoise.pot
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_progs.xml
  ext/tools/Notepad2-x64.exe
  ext/tools/Notepad2-x86.exe
  src/Changelog.txt
  src/Resources/TortoiseProcENG.rc
  src/TortoiseGitSetup/StructureFragment.wxi
  src/TortoiseProc/AppUtils.cpp
Due: doc, spellcheck-pot

Deduplicate code
  src/Utils/StringUtils.h
Due: none

Include TortoiseGitPLink.exe in the .MSI file just once
  src/TortoiseGitSetup/StructureFragment.wxi
Due: none

Update PuTTY binaries to version 0.82
  ext/putty/download.bat
  ext/putty/download.txt
  src/Changelog.txt
Due: none

Fix casing of filenames
  src/TortoiseGitSetup/StructureFragment.wxi
Due: none

Update Scintilla to 5.5.4
  ext/scintilla/.editorconfig
  ext/scintilla/include/Scintilla.h
  ext/scintilla/src/AutoComplete.cxx
  ext/scintilla/src/AutoComplete.h
  ext/scintilla/src/CallTip.cxx
  ext/scintilla/src/CellBuffer.cxx
  ext/scintilla/src/ChangeHistory.cxx
  ext/scintilla/src/CharacterCategoryMap.cxx
  ext/scintilla/src/Decoration.cxx
  ext/scintilla/src/Document.cxx
  ext/scintilla/src/Document.h
  ext/scintilla/src/EditView.cxx
  ext/scintilla/src/EditView.h
  ext/scintilla/src/Editor.cxx
  ext/scintilla/src/Editor.h
  ext/scintilla/src/Indicator.cxx
  ext/scintilla/src/KeyMap.cxx
  ext/scintilla/src/LineMarker.cxx
  ext/scintilla/src/Partitioning.h
  ext/scintilla/src/PerLine.cxx
  ext/scintilla/src/RunStyles.cxx
  ext/scintilla/src/SparseVector.h
  ext/scintilla/src/Style.cxx
  ext/scintilla/src/ViewStyle.cxx
  ext/scintilla/src/XPM.cxx
  ext/scintilla/version.txt
  ext/scintilla/win32/PlatWin.cxx
  ext/scintilla/win32/ScintRes.rc
  ext/scintilla/win32/ScintillaDLL.cxx
  ext/scintilla/win32/ScintillaWin.cxx
Due: none

Apply backgroundcolors.patch
  ext/scintilla/include/Scintilla.h
  ext/scintilla/src/EditView.cxx
  ext/scintilla/src/EditView.h
  ext/scintilla/src/Editor.cxx
  ext/scintilla/src/Editor.h
  ext/scintilla/win32/ScintillaWin.cxx
Due: none

Update Lexilla to version 5.4.2
  ext/build/ScintillaLexer.vcxproj
  ext/build/ScintillaLexer.vcxproj.filters
Due: none

Use latest Debian in CI pipeline
  .gitlab-ci.yml
  .gitlab-ci/gettext-lint/Equivalent.py
  .gitlab-ci/gettext-lint/Glossary.py
  .gitlab-ci/gettext-lint/POFile.py
  .gitlab-ci/gettext-lint/POFileSpell
  .gitlab-ci/gettext-lint/capitalization.py
  .gitlab-ci/gettext-lint/util.py
Due: doc, spellcheck-pot

Improve output of CI checks
  .gitlab-ci.yml
  .gitlab-ci/check.sh
Due: doc, spellcheck-pot

Use bash
  doc/CheckIDD.sh
Due: none

Drop unused code for translating manuals
  doc/Aspell/de.pws
  doc/Aspell/ru.pws
  doc/doc.build
  doc/doc.build.include
  doc/doc.build.user.tmpl
  doc/xsl/profile-mode.xsl
  doc/xsl/profile.xsl
Due: doc, spellcheck-pot

Drop unused code
  doc/doc.build.include
Due: doc

Fix possible inconsistency
  doc/doc.build
  doc/doc.build.include
Due: doc

Drop htmlsingle docformat
  doc/doc.build
  doc/doc.build.include
  doc/doc.build.user.tmpl
  doc/xsl/htmlsingle.xsl
Due: doc

Check src/TortoiseGitSetup/HTMLHelpfiles.wxi for inconsistencies
  .gitlab-ci/check.sh
Due: none

Generate a stable file list of the help files for the installer
  doc/scripts/generate_wix_filelist.py
  src/TortoiseGitSetup/HTMLHelpfiles.wxi
Due: none

Update libgit2 to 1.9.0
  ext/build/libgit2.vcxproj
  ext/build/libgit2.vcxproj.filters
  src/Changelog.txt
  src/TortoiseProc/ProgressCommands/CloneProgressCommand.cpp
  src/TortoiseProc/ProgressCommands/FetchProgressCommand.cpp
Due: none

Update copyright years
  Languages/Tortoise.pot
  Languages/TortoisePotHeader.txt
  ext/gitdll/gitdll.rc2
  src/GitWCRev/GitWCRev.rc2
  src/ResText/ResText.rc2
  src/Resources/TortoiseMerge.rc2
  src/Resources/TortoiseProc.rc2
  src/Resources/TortoiseShell.rc2
  src/SshAskPass/SshAskPass.rc2
  src/TGitCache/TGITCache.rc2
  src/TortoiseGitBlame/res/TortoiseGitBlame.rc2
  src/TortoiseGitSetup/CustomActions/CustomActions.rc2
  src/TortoiseGitSetup/RestartExplorer/RestartExplorer.rc2
  src/TortoiseGitSetup/include/TGIT_eula.rtf
  src/TortoiseIDiff/TortoiseIDiff.rc2
  src/TortoisePlink/Windows/TortoisePlink.rc
  src/TortoiseShell/TortoiseStub.rc
  src/TortoiseUDiff/TortoiseUDiff.rc2
  src/touch/touch.rc2
  test/UnitTests/UnitTests.rc2
Due: spellcheck-pot

Use unicode (C) character
  src/TortoiseGitSetup/include/TGIT_eula.rtf
Due: none

Remove bogus reference to checkout.ico
  src/TortoiseShell/TortoiseShell.vcxproj
  src/TortoiseShell/TortoiseShell.vcxproj.filters
Due: none

Update TortoisePlink to 0.83
  src/Changelog.txt
  src/TortoisePlink/LDISC.C
  src/TortoisePlink/LICENCE
  src/TortoisePlink/MISC.H
  src/TortoisePlink/PUTTY.H
  src/TortoisePlink/SETTINGS.C
  src/TortoisePlink/SSH.H
  src/TortoisePlink/SSHRAND.C
  src/TortoisePlink/Windows/MSVC/Plink/TortoisePlink.vcxproj
  src/TortoisePlink/Windows/MSVC/Plink/TortoisePlink.vcxproj.filters
  src/TortoisePlink/Windows/platform.h
  src/TortoisePlink/Windows/plink.c
  src/TortoisePlink/Windows/utils/arm_arch_queries.c
  src/TortoisePlink/Windows/utils/filename.c
  src/TortoisePlink/Windows/utils/request_file.c
  src/TortoisePlink/crypto/ecc-ssh.c
  src/TortoisePlink/crypto/kex-hybrid.c
  src/TortoisePlink/crypto/mlkem.c
  src/TortoisePlink/crypto/mlkem.h
  src/TortoisePlink/crypto/ntru.c
  src/TortoisePlink/crypto/sha3.c
  src/TortoisePlink/crypto/smallmoduli.h
  src/TortoisePlink/defs.h
  src/TortoisePlink/proxy/cproxy.c
  src/TortoisePlink/ssh/gss.h
  src/TortoisePlink/ssh/kex2-client.c
  src/TortoisePlink/ssh/ssh.c
  src/TortoisePlink/ssh/transport2.c
  src/TortoisePlink/utils/dupwcscat.c
  src/TortoisePlink/utils/memory.c
  src/TortoisePlink/utils/tree234.c
  src/TortoisePlink/version.h
Due: none

Update shipped PuTTY binaries to 0.83
  ext/putty/download.txt
  src/Changelog.txt
Due: none

Mark build as compatible with VS2022 17.13
  src/TortoiseGitSetup/WiXSetup.wixproj
Due: none

Update Scintilla to 5.5.5
  ext/scintilla/include/Scintilla.h
  ext/scintilla/include/Scintilla.iface
  ext/scintilla/include/ScintillaCall.h
  ext/scintilla/include/ScintillaMessages.h
  ext/scintilla/include/ScintillaTypes.h
  ext/scintilla/src/CaseConvert.cxx
  ext/scintilla/src/CellBuffer.cxx
  ext/scintilla/src/CellBuffer.h
  ext/scintilla/src/Document.cxx
  ext/scintilla/src/Document.h
  ext/scintilla/src/EditModel.cxx
  ext/scintilla/src/EditModel.h
  ext/scintilla/src/EditView.cxx
  ext/scintilla/src/EditView.h
  ext/scintilla/src/Editor.cxx
  ext/scintilla/src/Editor.h
  ext/scintilla/src/Platform.h
  ext/scintilla/src/PositionCache.cxx
  ext/scintilla/src/Selection.cxx
  ext/scintilla/src/Selection.h
  ext/scintilla/src/SplitVector.h
  ext/scintilla/src/UndoHistory.cxx
  ext/scintilla/src/UndoHistory.h
  ext/scintilla/src/UniConversion.cxx
  ext/scintilla/src/UniConversion.h
  ext/scintilla/version.txt
  ext/scintilla/win32/PlatWin.cxx
  ext/scintilla/win32/PlatWin.h
  ext/scintilla/win32/ScintRes.rc
  ext/scintilla/win32/ScintillaWin.cxx
  ext/scintilla/win32/WinTypes.h
Due: none

Fixed issue #4191: Fix \r handling in log output window to avoid accidentally overwriting remote messages
  src/Changelog.txt
  src/TortoiseProc/ProgressDlg.cpp
Due: none

Fix showing unified diff of files in the initial commit
  src/Git/GitStatusListCtrl.cpp
Due: none

Drop unused enum
  src/Git/GitRev.h
Due: none

Fix sorting when removing child items
  src/Git/TGitPath.cpp
  test/UnitTests/TGitPathTest.cpp
Due: none

Path conditions:
  doc: any of: .gitlab-ci.yml, doc/images/en/**/*, doc/source/**/*, doc/xsl/**/*, doc/doc.build*, doc/Aspell/*
  spellcheck-pot: any of: .gitlab-ci.yml, Languages/Tortoise.pot, doc/Aspell/*.pws
