Repository TortoiseGit/TortoiseGit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc, spellcheck-pot

.gitlab-ci.yml:

# General info: https://docs.gitlab.com/ee/ci/yaml/

doc:
  image: ubuntu:focal
  before_script:
    - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
    - apt-get update -qq
    - apt-get install -qq --no-install-recommends -y xsltproc docbook-xsl nant aspell aspell-en
    - echo -e "section_end:`date +%s`:install_packages\r\e[0K"
  script:
    - mv doc/doc.build.user.linux.templ doc/doc.build.user
    - cd doc
    - nant -D:spellcheck=true
    - if [[ $(ls -1 Aspell/*.log 2>/dev/null | wc -l) -ge 1 ]]; then
        echo -e "\e[1;31m!!! Found typos !!!\e[0m";
        cat Aspell/*.log;
        exit 1;
      fi
  except:
    refs:
      - tags
  only:
    changes:
      - .gitlab-ci.yml
      - doc/images/en/**/*
      - doc/source/**/*
      - doc/xsl/**/*
      - doc/doc.build*
      - doc/Aspell/*

spellcheck-pot:
  image: debian:buster
  before_script:
    - echo -e "section_start:`date +%s`:install_packages[collapsed=true]\r\e[0K\e[1;96mInstalling packages\e[0m"
    - apt-get update -qq
    - apt-get install -qq --no-install-recommends -y aspell aspell-en gettext gettext-lint
    - echo -e "section_end:`date +%s`:install_packages\r\e[0K"
  script:
    - perl -pi -e 's|\\r||g' Languages/Tortoise.pot
    - msginit --no-translator -l en_US -i Languages/Tortoise.pot -o Languages/Tortoise_en.po
    - perl -pi -e 's|&([^ ])|\1|g' Languages/Tortoise_en.po
    - cp doc/Aspell/TortoiseGit.tmpl.pws doc/Aspell/Temp.pws
    - perl -pi -e 's/\$LANG\$/en/g' doc/Aspell/Temp.pws
    - POFileSpell --command='aspell --encoding=UTF-8 --add-extra-dicts="./doc/Aspell/en.pws" --add-extra-dicts=./doc/Aspell/Temp.pws --add-extra-dicts=./doc/Aspell/TortoisePot.pws --lang=en list' Languages/Tortoise_en.po > spellcheck.log
    - if [[ $(cat spellcheck.log 2>/dev/null | wc -l) -gt 1 ]]; then
        echo -e "\e[1;31m!!! Found typos !!!\e[0m";
        cat spellcheck.log;
        exit 1;
      fi
  except:
    refs:
      - tags
  only:
    changes:
      - .gitlab-ci.yml
      - Languages/Tortoise.pot
      - doc/Aspell/*.pws

Make use of Git 2.30.0 rev-parse "--end-of-options" parameter
  src/Git/Git.cpp
Due: none

Update libgit to 2.30 based on Git for Windows sources
  ext/build/libgit.vcxproj
  ext/build/libgit.vcxproj.filters
  src/Changelog.txt
Due: none

Update pcre2 to 10.36
  ext/build/pcre2.vcxproj
  ext/build/pcre2/pcre2.h
  src/Changelog.txt
Due: none

Fixed issue #3693: Make short hash length for hyper-link in log message configurable
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_advanced.xml
  src/Changelog.txt
  src/TortoiseProc/LogDlg.cpp
  src/TortoiseProc/Settings/SettingsAdvanced.cpp
Due: doc

Fixed issue #3696: Compare dialog (FileDiffDlg.cpp) should hide files with only ignored changes
  src/Changelog.txt
  src/TortoiseProc/FileDiffDlg.cpp
Due: none

Fix typos
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_general.xml
Due: doc

Add link to FAQ
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_general.xml
Due: doc

Fixed issue #3705: No "Move to Changelist" option in check for modifications
  src/Changelog.txt
  src/TortoiseProc/ChangedDlg.cpp
Due: none

Fixed issue #3704: Changed Files Dlg: "Revert to revision" fails for renamed files
  src/Changelog.txt
  src/TortoiseProc/FileDiffDlg.cpp
Due: none

TGitUDiff: Ask for saving on quitting when file was modified
  Languages/Tortoise.pot
  src/TortoiseUDiff/MainWindow.cpp
  src/TortoiseUDiff/MainWindow.h
  src/TortoiseUDiff/TortoiseUDiff.rc
  src/TortoiseUDiff/resource.h
Due: spellcheck-pot

Set a clipping region when drawing line text
  src/TortoiseMerge/BaseView.cpp
Due: none

Add more debug information
  src/Git/Git.cpp
  src/TortoiseProc/TortoiseProc.cpp
Due: none

Fixes issue #3695: Keep the current line in the view when resizing with line-wrap on in TortoiseGitMerge
  src/Changelog.txt
  src/TortoiseMerge/BaseView.cpp
Due: none

Switch dialog: Remember last state of the "Create New branch" checkbox state for switching to a tag or commit
  src/Changelog.txt
  src/TortoiseProc/GitSwitchDlg.cpp
  src/TortoiseProc/GitSwitchDlg.h
Due: none

Fixed issue #3181: Branch dialog: Create branch should remember "switch to" state
  src/Changelog.txt
  src/TortoiseProc/CreateBranchTagDlg.cpp
  src/TortoiseProc/CreateBranchTagDlg.h
Due: none

Fixed issue #3700: Resolve the conflicts did not show the merge_head with correct branch name
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_advanced.xml
  src/Changelog.txt
  src/Git/Git.cpp
  src/TortoiseProc/AppUtils.cpp
  src/TortoiseProc/Settings/SettingsAdvanced.cpp
Due: doc

Fix tests
  test/UnitTests/GitTest.cpp
Due: none

Fixed issue #3694: No overlay if not all lower case in repo top folder in WSL2 filesystem
  src/Changelog.txt
  src/Git/gitindex.h
Due: none

Refactored: Do not test whether empty path is a directory
  src/Git/gitindex.h
Due: none

Fixed uninitialized field
  src/Utils/MiscUI/HistoryCombo.cpp
Due: none

Put lines with no input at the end
  src/Git/GitStatusListCtrl.h
Due: none

Sync translations with Transifex
  Languages/Tortoise_bg.po
  Languages/Tortoise_ca.po
  Languages/Tortoise_cs.po
  Languages/Tortoise_da.po
  Languages/Tortoise_de.po
  Languages/Tortoise_el.po
  Languages/Tortoise_es.po
  Languages/Tortoise_fa.po
  Languages/Tortoise_fi.po
  Languages/Tortoise_fr.po
  Languages/Tortoise_hu.po
  Languages/Tortoise_id.po
  Languages/Tortoise_it.po
  Languages/Tortoise_ja.po
  Languages/Tortoise_ko.po
  Languages/Tortoise_lt.po
  Languages/Tortoise_nl.po
  Languages/Tortoise_oc.po
  Languages/Tortoise_pl.po
  Languages/Tortoise_pt_BR.po
  Languages/Tortoise_pt_PT.po
  Languages/Tortoise_ro.po
  Languages/Tortoise_ru.po
  Languages/Tortoise_sk.po
  Languages/Tortoise_sl.po
  Languages/Tortoise_sq.po
  Languages/Tortoise_sr@Cyrl.po
  Languages/Tortoise_sr@latin.po
  Languages/Tortoise_sv.po
  Languages/Tortoise_tr.po
  Languages/Tortoise_uk.po
  Languages/Tortoise_vi.po
  Languages/Tortoise_zh_CN.po
  Languages/Tortoise_zh_TW.po
Due: none

Update spell checker dictionaries
  Languages/Lang_ko.wixproj
  Languages/spell/1034.wxi
  Languages/spell/1042.wxi
Due: none

Update LibreOffice dictionaries repository URL
  .gitmodules
Due: none

Add Hebrew language pack
  Languages/Lang_he.wixproj
  Languages/Languages.txt
  Languages/TortoiseLang.vcxproj
  Languages/TortoiseLang.vcxproj.filters
  Languages/Tortoise_he.po
  Languages/build-lang.cmd
  Languages/spell/1037.wxi
  src/TortoiseGit.sln
Due: none

Prepare release and bump version numbers to 2.12.0
  doc/doc.build.include
  src/Changelog.txt
  src/TortoiseGitSetup/VersionNumberInclude.wxi
  src/version.h
Due: doc

Fix warning
  src/Utils/TreePropSheet/TreePropSheet.cpp
Due: none

ShellCache: Fix IsContextPathAllowed() to use latest configuration
  src/TortoiseShell/ShellCache.cpp
Due: none

Fixed issue #3736: LFS force unlock not working
  src/Changelog.txt
  src/TortoiseProc/Commands/LFSCommands.cpp
Due: none

Apply the background colors patch
  ext/scintilla/include/Scintilla.h
  ext/scintilla/src/EditView.cxx
  ext/scintilla/src/EditView.h
  ext/scintilla/src/Editor.cxx
  ext/scintilla/src/Editor.h
  ext/scintilla/win32/ScintillaWin.cxx
Due: none

Adjust the colors of the autocomplete popup for dark mode
  src/Utils/MiscUI/SciEdit.cpp
  src/Utils/MiscUI/SciEdit.h
Due: none

Fixed issue #3740: Setting DownloadAnimation=false has no effect, the turtle still flies
  src/Changelog.txt
  src/Resources/TortoiseProcENG.rc
Due: none

Use American English
  Languages/Tortoise.pot
  doc/source/en/TortoiseGit/tgit_app_automation.xml
  doc/source/en/TortoiseGit/tgit_dug/dug_changelist.xml
  doc/source/en/TortoiseGit/tgit_dug/dug_checkout.xml
  doc/source/en/TortoiseGit/tgit_dug/dug_log.xml
  doc/source/en/TortoiseGit/tgit_dug/dug_patch.xml
  doc/source/en/TortoiseGit/tgit_dug/dug_revgraph.xml
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_general.xml
  doc/source/en/TortoiseGit/tgit_dug/dug_settings_git.xml
  doc/source/en/TortoiseGit/tgit_gitwcrev.xml
  doc/source/en/TortoiseGit/tgit_introduction.xml
  doc/source/en/TortoiseMerge/tme_dug_controls.xml
  src/Resources/TortoiseProcENG.rc
Due: doc, spellcheck-pot

Remove extra space in front of Log Messages when drawing labels on right side
  src/Changelog.txt
  src/TortoiseProc/GitLogListBase.cpp
Due: none

Automatically set the path where the submodule should go
  src/TortoiseProc/SubmoduleAddDlg.cpp
  src/TortoiseProc/SubmoduleAddDlg.h
Due: none
